*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --blue: #0061FF;
    --lightblue: #B4D0E7;
    --darkblue: #0D2481;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #DBDBDD;
    --grape: #61082B;
    --darkred: #D5001F;
    --lightred: #FF1C1C;
    --yellow: #FFD830;
    --green: #A2D39B;
    --lightgreen: #D1E9CD;
}

.d-flex{
    display: flex;
}

/* header  */
#web-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--white);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.left-header, 
.right-header,
ul{
    list-style: none;
    align-items: center;
}

#web-header a{
    text-decoration: none;
    color: var(--black);
    margin: 0 1.5rem;
}

.primary-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5rem 0.5rem;
    border: none;
}

/* main  */
/* hero  */
.container{
    padding: 5rem;
    max-width: 1280px;
    margin: auto;
}

h1{
    font-size: 52px;
}

.hero{
    background-color: var(--lightblue);
    height: 55vh;
}

.hero-content{
    display: flex;
    position: relative;
}

.hero-txt{
    width: 40%;
}

.hero-txt p{
    margin: 1.5rem 0;
}

.hero-img{
    width: 700px;
    position: absolute;
    left: 40%;
    top: 10%;
}

.hero-img img{
    width: 100%;
    height: 100%;
}

/* business  */

.business{
    margin-top: 4rem;
}

.business h2{
    margin: 2rem 0;
}

.small-container{
    padding: 2rem;
    max-width: 1120px;
    margin: auto;
}

.radio-btn{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.radio-btn input{
    margin-right: 0.25rem;
}

.business-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3 - 2rem);
    /* min-height: 762px; */
    border: 1px solid var(--grey);
    margin-bottom: 2rem;
}

hr{
    border: 0.5px solid var(--grey);
}

.col-title{
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
}

.col-container{
    padding: 1rem;
}

.col-container h3{
    margin: 0.5rem 0;
}

.col-container p{
    margin: 0.5rem 0;
    font-size: 12px;
}
.col-container a{
    color: var(--blue);
}

.month{
    margin-bottom: 1rem;
    display: inline-block;
}

.column-icon{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    align-items: baseline;
}

.column-icon .fa{
    margin-right: 0.5rem;
}

.col-container .primary-btn{
    width: 100%;
    margin: 1rem 0;
}

.short-hr{
    margin: 2rem 0;
    border: 0.5px solid var(--grey);
    width: 40px;
}

.col-container h4{
    margin-bottom: 1rem;
}

.col-container{
    justify-content: space-between;
}

.fa-check{
    color: var(--blue);
}

.col-big{
    border: 1px solid var(--grey);
    width: 1280px;
}

.col-big-txt{
    width: 50%;
}

.col-btn input{
    padding: 1rem 2rem;
}


/* partner */

.partner{
    display: flex;
}

.partner-img{
    width: 1000px;
    margin-right: 2rem;
}

.partner-img img{
    width: 100%;
    height: 100%;
}

.partner-txt{
    width: 50%;
}

.partner-txt h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.partner-txt p{
    margin: 1rem 0;
}

.secondary-btn{
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem 0.5rem;
    border: 0.5px solid var(--black);
}

/* operation */
.operation h2{
    margin-bottom: 2rem;
}

.operation-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operation-card{
    width: calc(100% / 3 - 3rem);
    margin-bottom: 2rem;
}

.operation-card img{
    max-width: 100%;
    margin-bottom: 1rem;
}

.operation-card h3{
    margin-bottom: 1rem;
}

/* team */
.team{
    height: 200px;
    margin: 2rem 0;
}

.team h2{
    margin-bottom: 2rem;
}

.team a{
    color: var(--blue);
}


/* .designit */
.left-block{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    align-content: baseline;
}

.square{
    width: calc(100% / 2);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.square img{
    width: 50%;
}

.green{
    border: 8px solid var(--lightgreen);
    background-color: var(--green);
}

.grape{
    background-color: var(--grape);
}

.blue{
    background-color: var(--blue);
}

.light-red{
    background-color: var(--lightred);
}

.red{
    background-color: var(--darkred);
}

.lightblue{
    background-color: var(--lightblue);
}

.darkblue{
    background-color: var(--darkblue);
}

.yellow{
    background-color: var(--yellow);
}

.center-block{
    width: calc(100% / 3);
    background-color: var(--grey);
}

.big-square{
    padding: 2rem;
}

.big-square img{
    width: 50%;
}

.big-square hr{
    margin: 2rem 0;
    border: 0.5px solid var(--black);
    width: calc(100% / 3);
}

.big-square p{
    font-size: 12px;
}

.author{
    display: block;
    margin-top: 2rem;
}

.right-block{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    align-content: baseline;
}

/* agency */
.agency{
    background-color: var(--lightblue);
}

.agency-content{
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.agency h2{
    color: var(--grape);
}

.agency .secondary-btn{
    border: none;
    padding: 0 1rem;
}

/* accordion */
.accordion{
    margin: 2rem 0;
}

.accordion hr{
    margin: 2rem 0;
    border: 0.5px solid var(--black);
}

.row-accordion{
    display: flex;
    justify-content: space-between;
}

.fa-chevron-down{
    margin-right: 32px;
}

/* footer  */
#web-footer{
    height: 440px;
    width: 100%;
    background-color: var(--black)
}

.footer-top{
    justify-content: space-between;
}

.footer-top h4{
    color: var(--white);
    margin-bottom: 1rem;
}

.footer-top li{
    list-style: none;
    text-decoration: none;
    text-align: left;
    margin-bottom: 0.5rem;
}

.footer-top a{
    color: var(--grey);
    margin: 0;
}

.footer-bottom{
    color: var(--grey);
}

.footer-bottom hr{
    margin: 2rem 0;
    border: 0.5px solid var(--grey);
    width: 6rem;
}
