*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --blue: #0061FF;
    --lightblue: #B4D0E7;
    --darkblue: #0D2481;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #DBDBDD;
    --grape: #61082B;
    --darkred: #D5001F;
    --lightred: #FF1C1C;
    --yellow: #FFD830;
    --green: #A2D39B;
    --lightgreen: #D1E9CD;
}

.d-flex{
    display: flex;
}

/* header  */
#web-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--white);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

li a{
    text-decoration: none;
    color: var(--black);
    margin: 0 1.5rem;
}

.primary-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5rem 0.5rem;
    border: none;
}

/* main  */
/* hero  */
.container{
    padding: 5rem;
    max-width: 1280px;
    margin: auto;
}

h1{
    font-size: 52px;
}

.hero{
    background-color: var(--lightblue);
    height: 55vh;
}

.hero-content{
    display: flex;
    position: relative;
}

.hero-txt{
    width: 40%;
}

.hero-txt p{
    margin: 1.5rem 0;
}

.hero-img{
    width: 700px;
    position: absolute;
    left: 40%;
    top: 10%;
}

.hero-img img{
    width: 100%;
    height: 100%;
}

/* business  */

.business{
    margin-top: 4rem;
}

.small-container{
    padding: 3rem;
    max-width: 1120px;
    margin: auto;
}

.business-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3 - 2rem);
    padding: 1rem;
    border: 1px solid var(--grey);
}

.col-big{
    padding: 1rem;
    border: 1px solid var(--grey);
    width: 1280px;
}

/* comp-img-txt  */

.partner{
    display: flex;
}

.partner-img{
    width: 5000px;
}

.partner-img img{
    width: 100%;
    height: 100%;
}

/* operation */

.operation-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operation-card{
    width: calc(100% / 3 - 1rem);
}

.operation-card img{
    max-width: 200px;
}

/* .designit */
.row-square{
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 6);
    height: 240px;
    background-color: #0061FF;
}

/* accordion */
.accordion{
    height: 300px;
    background-color: #0D2481;
    margin-bottom: 4rem;
}

/* footer  */
#web-footer{
    height: 300px;
    width: 100%;
    background-color: black;
}